__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
.ipynb_checkpoints
__pypackages__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.DS_Store

dataset/*
outputs/*

# exclude the example 
!dataset/exp
!dataset/pretrain-det.pkl
!dataset/pretrain-vae.pkl

!outputs/115k-112-120_water.xyz
!outputs/119k-021-025_water.xyz
!outputs/125k-069-083_water.xyz
!outputs/129k-009-018_water.xyz
!outputs/135k-012-021_water.xyz
!outputs/ss_water.xyz